---
// export const prerender = true;
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import { Image } from "astro:assets";
import ViewComponent from "../../components/ViewComponent.astro";
import PostMeta from "../../components/PostMeta.astro";
import Views from "../../components/Views";
import Comments from "../../components/Comments.astro";
import CommentForm from "../../components/CommentForm.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
// type Props = CollectionEntry<"posts">;

// const { post } = Astro.props;
// const { slug } = Astro.params;
//  const { frontmatter } = Astro.props;
// console.log("frontmatter", frontmatter);

const { slug } = Astro.params;
const post = await getEntry("posts", slug as string);
if (!post) {
  return Astro.redirect("/404");
}
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.slug} frontmatter={post.data}>
  <Main>
    <H1 text={post.data.title} />
    <Image
      loading="eager"
      src={post.data.image}
      alt={post.data.title}
      width={1024}
      height={1024 / 1.6}
      format="webp"
      class="rounded-2xl shadow-xl mt-3 md:mt-6 mx-auto md:w-[80%] md:h-82 object-cover"
    />
    <div class="flex mt-3 px-4 md:px-8 justify-around items-center gap-2">
      <PostMeta post={post} />
      <!-- <ViewComponent slug={post.slug} /> -->
      <Views slug={post.slug} client:load server:defer />
    </div>

    <div
      class="prose md:prose-xl dark:prose-invert mx-auto relative overflow-visible mt-6 md:mt-12 mb-12"
    >
      <Content />
      <Comments postSlug={slug} server:defer />
      <CommentForm postSlug={slug} server:defer />
    </div>
  </Main>
</Layout>
