---
import { type CollectionEntry, getEntry } from "astro:content";
import { Image } from "astro:assets";
import ViewComponent from "./ViewComponent.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();

const author = await getEntry("authors", post.data.author.id);

if (!author) {
  return Astro.redirect("/404");
}
---

<div class="flex flex-col justify-between px-2 items-start mb-3 md:mb-6">
  <div class="flex items-center justify-between gap-1">
    <a href={`/author/${author.slug}`}>
      <Image
        src={author.data.image}
        alt={author.data.name}
        aria-label={`Read more from ${author.data.name}`}
        width={32}
        height={32}
        format="webp"
        class="rounded-full border-2 border-secondary aspect-square w-10 object-cover"
      />
    </a>

    <a
      href={`/author/${author.slug}`}
      class="text-zinc-600 text-xs md:text-md font-semibold"
    >
      {author.data.name}
      <br /><strong class="text-zinc-500 rounded-xl text-xs md:text-md">
        {remarkPluginFrontmatter.minutesRead} | {post.data.date}
      </strong>
    </a>
  </div>
</div>
