---
// import "@fontsource/cabin";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter, fade, slide } from "astro:transitions";
import type { CollectionEntry } from "astro:content";
import Seo from "../components/Seo.astro";
import MobileNav from "../components/MobileNav";
import Logo from "../components/Logo.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import CartNav from "../components/CartNav";
import HeaderLink from "../components/HeaderLink.astro";
import { Icon } from "astro-icon/components";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  frontmatter?: CollectionEntry<"posts">["data"];
  robots?: string;
}

const {
  title = "Astro Country Music Nation",
  description = "A demo blog for a community of music producers and enthusiasts",
  image = "/images/band.jpg",
  frontmatter,
  robots,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-screen">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/heartbeat.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#134e4a" />
    <title>{title}</title>

    <Seo
      title={title}
      description={description}
      image={image}
      url={Astro.url}
      frontmatter={frontmatter}
      {robots}
    />

    <!-- <link rel="canonical" href={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} /> -->
  </head>

  <body class="min-h-screen bg-neutral-100 dark:bg-[#061723]">
    <div class="hidden md:block"><Header /></div>
    <div
      class="md:hidden flex justify-between items-center gap-6 p-3 md:px-24 shadow-md sticky top-0 z-100
    bg-neutral-100 dark:bg-[#050f0f]/80 max-sm:px-2 max-sm:py-5 w-full"
    >
      <Logo />
      <ThemeToggle />
      <HeaderLink href="/search">
        <Icon
          name="mdi:search"
          size={28}
          color="teal"
          class="bg-neutral-50 rounded-full"
        />
      </HeaderLink>

      <CartNav client:load />
      <MobileNav client:load />
    </div>
    <main class="min-h-[70vh]">
      <div transition:animate={fade({ duration: ".8s" })}>
        <slot />
      </div>
    </main>

    <Footer transition:animate={slide({ duration: ".8s" })} />
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
